---
import { readFile } from "node:fs/promises"
import path from "node:path"

import { CodeCollapsibleWrapper } from "~/components/code-collapsible-wrapper"
import ComponentCode from "~/components/component-code.astro"
import { DEFAULT_STYLE_NAME } from "~/lib/design-system-defaults"
import { formatCode } from "~/lib/format-code"
import { highlightCode } from "~/lib/highlight-code"
import { getRegistryItem } from "~/lib/registry"
import { cn } from "~/lib/utils"

type Props = {
  name?: string
  src?: string
  title?: string
  language?: string
  collapsible?: boolean
  class?: string
  styleName?: string
  maxLines?: number
}

const {
  name,
  src,
  title,
  language,
  collapsible = true,
  class: className,
  styleName,
  maxLines
} = Astro.props

let code: string | undefined

if (name) {
  const item = await getRegistryItem(name)
  code = item?.files?.[0]?.content
}

if (src) {
  const sourcePath = path.isAbsolute(src) ? src : path.join(process.cwd(), src)
  code = await readFile(sourcePath, "utf-8")
}

if (code) {
  const resolvedStyleName = styleName ?? DEFAULT_STYLE_NAME
  code = await formatCode(code, resolvedStyleName)
  code = code.replaceAll("/* eslint-disable react/no-children-prop */\n", "")
  if (maxLines && maxLines > 0) {
    code = code.split("\n").slice(0, maxLines).join("\n")
  }
}

const lang = language ?? title?.split(".").pop() ?? "tsx"
const highlightedCode = code ? await highlightCode(code, lang) : undefined
---

{
  code && highlightedCode ? (
    collapsible ? (
      <CodeCollapsibleWrapper client:load class={className}>
        <ComponentCode code={code} highlightedCode={highlightedCode} lang={lang} title={title} />
      </CodeCollapsibleWrapper>
    ) : (
      <div class={cn("relative", className)}>
        <ComponentCode code={code} highlightedCode={highlightedCode} lang={lang} title={title} />
      </div>
    )
  ) : null
}
